:root {
    --bd-violet: #6f42c1;
    --bd-violet-bg: #6f42c1;
    --bd-violet-rgb: 111, 66, 193;
    --shade-percent: 10%;
    --shaded-color: rgba(var(--bd-violet-rgb), 0.9);
}

body {
    background-color: #ECECEC;
}

.btn-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--shaded-color);
    --bs-btn-hover-border-color: var(--shaded-color);
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: rgba(var(--bd-violet-rgb), 0.8);
    --bs-btn-active-border-color: rgba(var(--bd-violet-rgb), 0.8);
}

.text-bg-primary {
    color: #000000 !important;
    background-color: #f4eeff !important;
}

.badge {
    padding: 0.8rem 1.4rem;
    background-color: #6f42c1;
}

/* Scroll Modification */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    border-radius: 24px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #969696;
}

.bg-color {
    background-color: #2A2A62;
}

.card-custom {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    min-height: 40vh;
}

.custom-heading {
    font-size: 4.4rem;
    line-height: 4.4rem;
}
